// =============================================================================
// Name:            Generic elements
// Description:     Base element styles
// =============================================================================

img {
  width: 100%;
  max-width: auto;
  height: auto;
}

ul, ol {
  @include reset-list();
}