// =============================================================================
// Name:            Breakpoints
// Description:     Breakpoint tools
// =============================================================================

/**
 * Get a breakpoint query
 */
@function get-bp($size, $breakpoints: $breakpoints) {
  @return map-get($breakpoints, $size)
}

/**
 * Wrapper for breakpoint() using our standard sizes.
 */
@mixin at-bp($size) {
  // Smallest/mobile is no breakpoint.
  @if $size == 'smallest' {
    @content;
  } @else {
    // Otherwise do breakpoint.
    $query: get-bp($size);
    @include breakpoint($query) {
      @content;
    }
  }
}

/**
 * Wrapper for the major desktop breakpoint.
 */
@mixin at-desktop($bp: $desktop) {
  @include at-bp($bp) {
    @content;
  }
}
