<div id="nav-header"></div>
<nav>
    <ul>
        <%
        for (k in tree) {
        var item = tree[k];
        %>
        <li class="<%= item.class %>">
            <a href="<%= item.path %>">
                <i class="<%= item.icon %>"></i>
                <span><%= item.title %></span>
            </a>
            <% if (item.children !== undefined){ %>
            <ul>
                <%
                for (c in item.children) {
                var child = item.children[c];
                %>
                <li><a href="<%= child.path %>"><%= child.title %></a></li>
                <% } %>
            </ul>
            <% } %>
        </li>
        <% } %>
    </ul>
</nav>