// =============================================================================
// Name:            Cards
// Description:     Cards components.
// =============================================================================

.card-grid--square {
  @extend %cards--grid;
  .card {
    @extend %card--square;
  }
}

.card-grid--wide {
  @extend %cards--grid;
  .card {
    @extend %card--wide;
  }
}

.card-grid--episode {
  @extend %cards--grid;
  .card {
    @extend %card--episode;
  }
}

.card-grid--tall {
  @extend %cards--grid;
  .card {
    @extend %card--tall;
  }
}

// When a card is displayed in the side of a detail pane.
$card-detail-side-width-small: 150px;
$card-detail-side-width: 238px;
$card-detail-poster-side-height: 357px;
$card-detail-episode-side-height: 150px;
.card-detail {
  .entity-progress {
    display: none;
  }
  .meta {
    display: none;
  }
  .thumb {
    @extend %thumb-base;
  }
  .card-album,
  .card-artist {
    @include responsive-card-artwork-size($card-detail-side-width, $card-detail-side-width);
  }
  .card-movie,
  .card-tvshow {
    @include responsive-card-artwork-size($card-detail-side-width, $card-detail-poster-side-height);
  }
  .card-episode {
    @include responsive-card-artwork-size($card-detail-side-width, $card-detail-episode-side-height);
  }
}

.card-minimal {
  @include card(square-medium, rgba($color-white, 0));
  width: 238px;
  @include responsive-card-artwork-size($card-detail-side-width, $card-detail-side-width);
  margin: 0;
  padding: 0;
  .meta {
    padding: 10px 0;
    .title, .subtitle {
      &:after {
        display: none;
      }
    }
  }
}