
.youtube-list {
  .thumb {
    width: 120px;
    float: left;
    margin-right: $spacing-base-unit
  }
  li {
    @include pie-clearfix();
    margin-bottom: $spacing-half-unit;
  }
  h3 {
    font-size: 18px;
    padding-top: $spacing-quarter-unit;
    margin-bottom: $spacing-base-unit;
  }
  .flat-btn {
    @include flat-button($color-greyscale-loblolly);
    margin-right: $spacing-half-unit;
    display: inline-block;
    padding: 0.3em 1em;
  }
}