.with-filters {
  .layout-container > .region-first {
    overflow: hidden;
  }
  .region-content-wrapper .region-content {
    .filters-loading & {
      opacity: 0.3;
    }
  }
}

.filters-container {
  h3 {
    @extend %sidebar--heading;
  }
  .nav-list,
  .selection-list,
  .active-list {
    @extend %sidebar--section;
  }
  .nav-list,
  .selection-list {
    @extend %sidebar--list;
    a, .option {
      color: $color-greyscale-outer-space;
      cursor: pointer;
      &.active {
        color: $color-brand-primary;
        font-weight: bold;
      }
    }
  }
  .selection-list {
    a, .option {
      text-transform: capitalize;
    }
  }
  .sortable.active {
    position: relative;
    &.order-asc {
      @include icon(navigation-expand-more, $pseudo: 'after');
    }
    &.order-desc {
      @include icon(navigation-expand-less, $pseudo: 'after');
    }
    &:after {
      font-size: 130%;
      padding-left: $spacing-quarter-unit;
      position: absolute;
      margin-top: 1px;
    }
  }
  .filter-btn {
    @include flat-button($color-brand-primary, navigation-cancel);
    display: block;
    &.filterable-add {
      display: inline-block;
      background-color: $color-greyscale-cloudy;
      &:hover {
        background-color: $color-brand-primary;
      }
      @include icon(content-add-circle);
    }
  }
  .filters-page,
  .filters-options {
    h3 {
      cursor: pointer;
      @include icon(navigation-chevron-left);
      padding-left: $spacing-base-unit;
      position: relative;
      &:before {
        font-size: 140%;
        position: absolute;
        left: -12px;
        top: -3px;
      }
      &:hover {
        &:before {
          color: $color-brand-primary;
        }
      }
    }
  }
  .open-filters {
    position: relative;
    i {
      @include icon(content-add);
      @include set-position-absolute(top -3px right 3px);
      cursor: pointer;
      font-size: 150%;
      display: none;

    }
    &:hover {
      i {
        color: $color-greyscale-outer-space;
      }
    }
  }
  .options-search-wrapper {
    @extend %search-box;
  }
  .deselect-all {
    margin: 0 0 $spacing-half-unit $spacing-base-unit;
    cursor: pointer;
  }
}

.filters-active-bar {
  @include box-shadow(0 3px 6px -4px rgba($color-black, 0.15));
  position: fixed;
  @include set-layout('width-nav', 'margin-left');
  @include set-layout('width-sidebar-first', 'left');
  @include set-layout('height-header', 'top');
  @include set-layout('width-playlist', 'right');
  .shell-playlist-closed & {
    @include set-layout('width-playlist-closed', 'right');
  }
  background: $color-white;
  padding: $spacing-quarter-unit * 3;
  text-align: center;
  z-index: $z-index-beta;
  .remove {
    @include set-position-absolute(right 0 top 0 bottom 0);
    @include icon-button-square(content-clear, $spacing-double-unit);
    font-size: 150%;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
  .filters-active-all {
    display: block;
    margin: 0 $spacing-double-unit;
    @include text-crop($color-white);
  }
  display: none;
}

.layout-container.filters-active {
  .filters-active-bar {
    display: block;
  }
  .region-content {
    padding-top: $spacing-half-unit * 7;
  }
  .filters-container {
    .open-filters i {
      display: block;
    }
  }
}

.is-loading {
  opacity: 0.5;
}

// The filters slide action stuff.
$sidebar-width: 240px;
.filter-pane {
  @include set-position-absolute(top 0 left 0 right 0 bottom 0);
  @extend %sidebar--padding;
  @include transition(0.2s all ease-out);
  overflow-y: auto;
  &.filters-current {
    @include transform(translate(0,0));
    .show-filters & {
      @include transform(translate(-$sidebar-width,0));
    }
    .show-options & {
      @include transform(translate(-$sidebar-width * 2, 0));
    }
  }
  &.filters-page {
    @include transform(translate($sidebar-width,0));
    .show-filters & {
      @include transform(translate(0,0));
    }
    .show-options & {
      @include transform(translate(-$sidebar-width, 0));
    }
  }
  &.filters-options {
    @include transform(translate($sidebar-width * 2,0));
    .show-filters & {
      @include transform(translate($sidebar-width, 0));
    }
    .show-options & {
      @include transform(translate(0, 0));
    }
  }
}

