
#header {
  background: $color-header-background;
  color: $color-header-text;
  position: fixed;
  top: 0;
  left: $size-region-unit;
  right: 0;
  height: $size-region-unit;
  z-index: $z-index-gamma;
  @include set-layout('width-playlist', 'right');

  // Sidebar is hidden.
  .shell-playlist-closed & {
    @include set-layout('width-playlist-closed', 'right');
  }
}

#page-title {
  .context a,
  .title {
    padding: 0.5em 1em;
  }
}

#search-region {
  position: absolute;
  top: 0;
  right: 0;
}