// State based changes.
@mixin header-state($player: 'kodi', $brand-color: $color-kodi, $background: $color-player-background) {
  .active-player-#{$player} {
    #header {
      background: $background;
    }
    #logo {
      &:before {
        color: $brand-color;
      }
    }
    #nav-bar #nav-header {
      background: $background;
    }
  }
}

@include header-state('kodi', $color-kodi, $color-header-background);
@include header-state('local', $color-local, $color-background-local);


#header {
  color: $color-header-text;
  position: fixed;
  top: 0;
  left: $size-region-unit;
  right: 0;
  height: $size-region-unit;
  z-index: $z-index-gamma;
  @include set-layout('width-playlist', 'right');

  // Sidebar is hidden.
  .shell-playlist-closed & {
    @include set-layout('width-playlist-closed', 'right');
  }
}

#page-title {
  .context a,
  .title {
    padding: 0.5em 1em;
  }
}

#search-region {
  position: absolute;
  top: 0;
  right: 0;
}