

.layout-container {

  &.with-sidebar-first {

    // First sidebar.
    > .region-first {
      background: $color-sidebar;

      // Position.
      position: fixed;
      @include set-layout('height-player', 'bottom');
      @include set-layout('height-header', 'top');
      @include set-layout('width-nav', 'left');

      // Width is reset on small screens so add it back.
      @include set-layout('width-sidebar-first', 'width');
      width: $width-sidebar-first;

      // Hide by default, animate reveal.
      left: -100%;
      @include box-shadow(1px 0 3px 0 rgba(134, 134, 134, 0.3));
      @include transition(all 0.3s linear);

      // For scroll and layer.
      overflow-y: auto;
      z-index: $z-index-beta + 5;

      // Large screen.
      @include at-desktop {
        display: block;
        @include box-shadow(1px 0 3px 0 rgba(134, 134, 134, 0.05));
        left: $size-region-unit;
      }

      // Small screen open.
      .region-first-open & {
        @include set-layout('width-nav', 'left');
      }
    }

    // Content.
    > .region-content-wrapper {
      @include set-layout('width-sidebar-first', 'margin-left');
      margin-left: 0;
    }
  }

  &.with-header {
    > .region-content-wrapper {
      position: relative;
    }
    > .region-content-wrapper > .region-content,
    > .region-content {
      background: $color-detail-content-background;
      padding-top: $spacing-double-unit;
      min-height: 500px;
    }
  }

}

.region-first-toggle {
  @include set-position-fixed(top 0 left $size-region-unit);
  @include icon-button-square(navigation-more-vert, $size-region-unit);
  color: $color-header-text;
  z-index: $z-index-delta;
  font-size: 150%;
  opacity: 0.5;
  @include at-desktop {
    display: none;
  }
  .region-first-open & {
    color: $color-white;
    &:before {
      content: icon-code(navigation-chevron-left);
    }
  }
}

.region-content {
  @extend %region-content;
}

.content-container {
  &.with-sidebar {
    @extend %clearfix;
    .content-container-first {
      @include set-layout('width-details-side', 'width');
      float: left;
      padding-right: $spacing-double-unit;
      display: none;
    }
    .content-container-content-wrapper {
      @include set-layout('width-details-side', 'margin-left');
    }
  }
}

.section-content {
  @extend %clearfix;
  max-width: 1150px;
  margin-bottom: $spacing-double-unit;
  padding-bottom: $spacing-double-unit;
  h2 {
    margin-bottom: $spacing-base-unit;
  }
  &.section-full-width {
    max-width: none;
  }
}
.content-sections {
  > .section-content:last-child {
    border: none;
  }
}
