

.layout-container {

  &.with-sidebar-first {
    > .region-first {
      background: $color-sidebar;
      position: fixed;
      @include set-layout('height-player', 'bottom');
      @include set-layout('height-header', 'top');
      @include set-layout('width-nav', 'left');
      @include set-layout('width-sidebar-first', 'width');
      overflow-y: auto;
      z-index: $z-index-alpha;
      @include box-shadow(1px 0 3px 0 rgba(134, 134, 134, 0.05));
      display: none;
      @include at-desktop {
        display: block;
      }
    }
    > .region-content-wrapper {
      @include set-layout('width-sidebar-first', 'margin-left');
      margin-left: 0;
    }
  }

  &.with-header {
    > .region-content {
      background: $color-detail-content-background;
      padding-top: $spacing-double-unit;
      min-height: 500px;
    }
  }

}


.region-content {
  @extend %region-content;
}

.content-container {
  &.with-sidebar {
    @include pie-clearfix;
    .content-container-first {
      @include set-layout('width-details-side', 'width');
      float: left;
      padding-right: $spacing-double-unit;
      display: none;
    }
    .content-container-content-wrapper {
      @include set-layout('width-details-side', 'margin-left');
    }
  }
}

.section-content {
  @include pie-clearfix;
  border-bottom: 1px solid $color-greyscale-alto;
  max-width: 1100px;
  margin-bottom: $spacing-double-unit;
  padding-bottom: $spacing-double-unit;
  h2 {
    margin-bottom: $spacing-base-unit;
  }
}
.content-sections {
  > .section-content:last-child {
    border: none;
  }
}