#modal-window {
  .close, .close:hover, .close:focus {
    color: $color-white;
  }
  .modal-dialog {
    @include box-shadow(0 2px 11px 2px rgba(0, 0, 0, 0.32));
    @include at-bp(medium) {
      min-width: 500px;
    }
  }
  .modal-header {
    background: #2F3334;
    color: $color-white;
  }
  .modal-header, .modal-body {
    padding: 15px 20px;
  }

  .modal-footer {
    background: rgba($color-black, 0.05);
    padding: 5px 20px;
  }
  &.style-confirm {
    .modal-body {
      padding: 30px 20px;
    }
  }
  &.style-video {
    .modal-dialog {
      @include at-bp(large) {
        width: 800px;
      }
    }
    .modal-body {
      padding: 0;
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 30px;
      height: 0;
      overflow: hidden;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
    .modal-footer {
      display: none;
    }
  }
  &.style-edit-form,
  &.style-form {
    .modal-footer {
      display: none;
    }
    footer {
      margin: 15px -20px -15px;
      padding: 5px 20px;
      background: rgba($color-black, 0.05);
      @include pie-clearfix();
      .inline-list {
        li {
          margin: 0 0 0 2em;
          float: right;
        }
      }
    }
  }

}