$width-nav-bar: $size-region-unit * 4;
$width-nav-bar-closed: $size-region-unit;

#nav-bar {
  background: $color-nav-background;
  width: $width-nav-bar-closed;
  padding: 0;
  @include set-position-fixed(top 0 left 0 right auto bottom 0);
  @include reset-edges;
  overflow-y: auto;
  @include transition(all 0.3s linear);
  z-index: $z-index-gamma;
  @include set-layout('height-player', 'bottom');
  @include box-shadow(1px 0 3px 0 rgba(134, 134, 134, 0.05));

  #nav-header {
    height: 50px;
    background: $color-nav-header-background image-url('logo.png') 0 0 no-repeat;
  }

  nav {
    padding: $spacing-base-unit 0;
    ul {
      @include reset-list;
      a {
        display: block;
        padding: $spacing-half-unit 0;
        color: $color-nav-text;
        text-align: center;
        &:hover {
          background: $color-nav-hover-background;
          color: $color-nav-text-hover;
          i {
            color: $color-nav-text-hover;
          }
        }
        span {
          display: none;
        }
        i {
          font-size: 130%;
        }
      }
      i {
        margin-right: $spacing-quarter-unit;
      }
      ul {
        display: none;
      }
    }

  }

  // Open style.
  &:hover,
  &.nav-open {
    @extend .shadow-z-2;
    width: $width-nav-bar;
    overflow-x: hidden;
    ul {
      li {
        width: $width-nav-bar;
      }
      a {
        padding: $spacing-half-unit #{$spacing-half-unit + $spacing-base-unit};
        text-align: left;
        white-space: nowrap;
        span {
          display: inline-block;
        }
      }
      ul {
        padding-bottom: $spacing-half-unit;
        a {
          padding-left: $spacing-double-unit * 2;
          color: $color-greyscale-gray;
          font-size: 90%;
        }
      }
    }
  }
}

// Subnav
.region-first .nav-sub {
  @extend %sidebar--section;
  h3 {
    @extend %sidebar--heading;
  }
  .items {
    @extend %sidebar--list;
  }
}