#player-wrapper {
  @include set-position-fixed(top auto left 0 right 0 bottom 0);
  @include set-layout('height-player', 'height');
  background: $color-player-background;
  z-index: $z-index-delta;
}

#player-local {
  display: none;
  .player-local & {
    display: block;
  }
}

#player-kodi {
  display: block;
  .player-local & {
    display: none;
  }
}

.player {
  .controls-primary,
  .controls-secondary {
    background: $color-player-side-background;
    @include set-layout('height-player', 'height');
    .control {
      @extend %transition--all;
      cursor: pointer;
      @include set-layout('height-player', 'height');
      @include vertical-align-wrapper();
      font-size: $font-size-player-control-primary;
      color: $color-player-control;
      &:hover {
        color: $color-player-control-hover;
      }
      &:before {
        @include icon-style(mdi);
        text-align: center;
        @include vertical-align-element();
      }
    }
  }
  .controls-primary {
    @include set-layout('width-player-controls-primary', 'width');
    float: left;
    .control {
      @include span(33.33%);
    }
  }
  .controls-secondary {
    @include set-layout('width-player-controls-secondary', 'width');
    float: right;
    .control {
      margin-top: -9px;
      font-size: $font-size-player-control-secondary;
      @include span(25%);
    }
  }
  .now-playing {
    @include set-layout('width-player-controls-primary', 'margin-right');
    @include set-layout('width-player-controls-secondary', 'margin-left');
    @include set-layout('height-player', 'height');
    position: relative;
    font-size: 12px;
    font-weight: bold;
    color: $color-player-text;
    a {
      color: $color-player-text;
    }
  }
  .playing-thumb {
    @include set-position-absolute(top 0 bottom 0 left 0);
    @include set-layout('height-player', 'width');
    @include set-layout('height-player', 'height');
    z-index: $z-index-alpha;
    overflow: hidden;
    background-color: rgba($color-white, 0.2);
    background-size: cover;
    background-position: 50% 50%;
    img {
      @include set-layout('height-player', 'width');
      height: auto;
    }
  }
  .playing-info {
    @include set-layout('height-player', 'margin-left');
  }
  .playing-time {
    @include set-position-absolute(bottom 0 right 0);
    @include set-layout('height-player-slider', 'top');
    margin: 7px 10px 0 0;
    text-align: right;
  }
  .playing-meta {
    margin: 7px 0 0 10px;
  }
  .playing-title a,
  .playing-time-current {
    color: $color-player-primary-text;
    font-size: 14px;
  }
  .slider-bar {
    @include set-layout('height-player-slider', 'height');
    background: $color-player-slider-range-background;
    border-top: 4px solid rgba($color-white, 0);
    margin: 0;
    @extend %transition--all;
    cursor: pointer;
    .noUi-base,
    .noUi-handle,
    .noUi-origin {
      @include set-layout('height-player-slider', 'height');
      @include border-radius(0);
      top: 0;
      border: none;
    }
    .noUi-origin {
      background: $color-player-slider-background;
      top: -4px;
    }
    .noUi-handle {
      background: none;
      width: 7px;
      left: -5px;
    }
    &:hover {
      .noUi-handle {
        background: #6B6B6B;
      }
    }
  }
  .volume {
    background: #36393a;
  }
}

// Control icons.
.control-prev:before { content: icon-code(av-fast-rewind); }
.control-play:before { content: icon-code(av-play-arrow); font-size: 150%; }
.control-next:before { content: icon-code(av-fast-forward); }
.control-mute:before { content: icon-code(av-volume-up); }
.control-repeat:before { content: icon-code(av-repeat); }
.control-shuffle:before { content: icon-code(av-shuffle); }
.control-menu:before { content: icon-code(navigation-more-vert); }

// State based changes.
@mixin player-state($player: 'kodi', $brand-color: $color-kodi) {
  #player-#{$player} {
    .#{$player}-playing & {
      .control-play:before { content: icon-code(av-pause); }
      .playing-progress {
        border-top-color: $brand-color;
      }
    }
    .#{$player}-mute-on & {
      .control-mute {
        &:hover {
          color: $brand-color;
        }
        &:before { content: icon-code(av-volume-mute); }
      }
    }
    .#{$player}-repeat-one & {
      .control-repeat {
        color: $color-player-control-active;
        &:before { content: icon-code(av-repeat-one); }
        &:hover {
          color: $brand-color;
        }
      }
    }
    .#{$player}-repeat-all & {
      .control-repeat {
        color: $color-player-control-active;
        &:hover {
          color: $brand-color;
        }
      }
    }
    .#{$player}-shuffled-on & {
      .control-shuffle {
        color: $color-player-control-active;
        &:hover {
          color: $brand-color;
        }
      }
    }
  }
}

// Kodi player
@include player-state('kodi', $color-kodi);
