
/**
 * Header Search component.
 */
#search-region {
  background: rgba($color-white, 0.9);
  @include set-layout('height-header', 'height');
  margin-left: get-layout(smallest, width-nav);
  @include at-desktop {
    display: block;
  }
  &:after {
    content: "";
    height: 3px;
    background: $color-kodi;
    opacity: 0.3;
    @include set-position-absolute(bottom 0 left 0);
    width: 0%;
    //display: none;
  }
  &.pre-search {
    &:after {
      display: block;
      width: 100%;
      @include transition(2s all linear);
    }
  }
}
#search {
  background: none;
  border: none;
  @include set-layout('height-header', 'height');
  @include set-layout('width-search', 'width');
  outline: none;
  padding: 0 $spacing-half-unit 0 $size-region-unit;
  color: $color-header-search-text;

}
#do-search {
  @include set-layout('height-header', 'width');
  @include set-layout('height-header', 'height');
  @include vertical-align-wrapper();
  @include icon(action-search);
  @include set-position-absolute(top 0 left 0);
  &:before {
    font-size: 150%;
    @include vertical-align-element();
    text-align: center;
    color: $color-header-search-icon;
  }
}

/**
 * A Search result page.
 */
.search-page {
  // Move down to make space for search box.
  top: $size-region-unit;
  position: relative;
  // Move into header at desktop.
  @include at-desktop {
    top: 0;
  }
  // Empty text under the search box.
  &__empty {
    @include at-desktop {
      text-align: right;
    }
  }
  h2.set-header {
    padding-left: 5px;
  }
  .browser-folder-list {
    background: rgba($color-white, 0.7);
  }
}

.search-page-layout {
  .region-first {
    @extend %sidebar--padding;
  }
  .search-media-links {
    a {
      text-transform: capitalize;
    }
  }
  .region-content {
    padding: 0;
  }
}

.search-no-result {
  @extend %no-reults;
}