
.set-page {
  padding: $spacing-half-unit $spacing-half-unit * 3 $spacing-base-unit;
  .entity-set {
    .set-header {
      margin: $spacing-base-unit 0 $spacing-half-unit;
      text-transform: capitalize;
      font-size: 22px;
    }
    .more {
      a {
        @include flat-button($color-kodi, communication-call-made);
      }
    }
  }
  .entity-set-song {
    .set-results {
      padding: 5px;
    }
  }
  .entity-set-loading {
    #loading-page {
      left: 0;
      right: 0;
      position: relative;
    }
    .spinner-double-section-far, h2 {
      top: 5em;
    }
    h2 {
      margin-top: 5em !important;
    }
  }
}