%settings-page,
.settings-page {
  .region-first {
    @extend %sidebar--padding;
  }
  .region-content {
    padding: 0;
    @include set-layout('height-player', 'padding-bottom');
  }
}

%settings-form,
.settings-form {
  @extend %page;
  .form-content-region {
    @extend %page-padding;
  }
  .form-group {
    padding-bottom: $spacing-half-unit * 3;
    margin-bottom: 0;
    @include pie-clearfix();
    @include at-bp(medium) {
      .control-label {
        @include span(3 of 7);
        padding: 5px $spacing-double-unit $spacing-half-unit 0;
      }
      .element {
        @include span(4 of 7 last);
      }
    }
  }
  .group-title {
    margin-top: $spacing-half-unit;
    margin-bottom: $spacing-base-unit;
    padding-bottom: $spacing-half-unit;
    color: $color-kodi;
    display: inline-block;
    i {
      color: rgba($color-greyscale-gray, 0.7);
    }
  }
  .form-items {
    @include at-bp(large) {
      margin: 0 $spacing-base-unit * 4 0 $spacing-double-unit
    }
  }
  footer {
    color: rgba($color-white, 0.7);
    border-top: 1px solid #C8C8C8;
    background: #2B2E2F;
    padding: $spacing-base-unit;
    @include at-bp(large) {
      padding: $spacing-base-unit $spacing-double-unit;
    }
  }
  .togglebutton {
    margin-top: 4px;
    label .toggle:after {
      top: -3px;
    }
  }
}

%settings-form-draggable,
.settings-form-draggable {
  .form-groups .draggable-row {
    position: relative;
    border-bottom: 1px solid rgba($color-greyscale-alto, 0.6);
    padding: $spacing-base-unit $spacing-double-unit $spacing-half-unit $spacing-half-unit;
    @include at-bp(large) {
      cursor: move;
      padding-right: $spacing-base-unit;
    }
    &:nth-child(even) {
      background: rgba($color-greyscale-mercury, 0.2);
    }
    .form-group {
      padding-bottom: $spacing-half-unit;
    }
    .control-label {
      cursor: move;
      position: relative;
      display: block;
      i {
        margin-left: $spacing-half-unit;
        font-weight: normal;
        font-size: 1.3em;
        position: absolute;
        right: $spacing-half-unit;
        top: $spacing-half-unit;
        opacity: 0.9;
      }
    }
    .remove-item {
      @include set-position-absolute(top 0 right 0);
      padding: $spacing-half-unit $spacing-half-unit $spacing-quarter-unit;
      color: rgb(146, 18, 18);
      font-size: 1.5em;
      cursor: pointer;
      opacity: 0.5;
      @include at-bp(large) {
        display: none;
      }
      &:hover {
        opacity: 0.9;
      }
    }
    &:hover {
      .remove-item {
        display: block;
      }
    }
  }
}
