/**
 * Generic table listings for songs/files.
 */
.table-row {
  .cell-first {
    width: 40px;
    text-align: center;
    color: rgba($color-text-dark, 0.5);
    font-size: 85%;
  }
  .cell-last {
    width: 60px;
    text-align: right;
    color: rgba($color-text-dark, 0.5);
    font-size: 85%;
  }
}