// =============================================================================
// Name:            Breakpoints
// Description:     Breakpoint variables.
// =============================================================================

$breakpoints: (
  xsmall: 25em,
  small: 37em,
  medium: 45em,
  large: 57em,
  xlarge: 75em
);
