// =============================================================================
// Name:            Breakpoints
// Description:     Breakpoint variables.
// =============================================================================

$breakpoint-xsmall: 25em;
$breakpoint-small: 37em;
$breakpoint-medium: 45em;
$breakpoint-large: 57em;
$breakpoint-xlarge: 75em;