// =============================================================================
// Name:            Colours
// Description:     Colour variables.
//                  Names from: http://chir.ag/projects/name-that-color/
// =============================================================================

/**
 * Palettes.
 */

// Base
$color-black: #000;
$color-white: #fff;

// Greyscale Palette
$color-greyscale-alabaster: #FAFAFA;
$color-greyscale-mercury: #e2e2e2;
$color-greyscale-alto: #ddd;
$color-greyscale-cloudy: #a8a7a6;
$color-greyscale-dove-gray: #666;
$color-greyscale-gray: #888888;
$color-greyscale-outer-space: #2B2F30;

/**
 * Text Colours.
 */

$color-text-dark: $color-greyscale-outer-space;
$color-text-light: $color-greyscale-alabaster;


