// =============================================================================
// Name:            Layout
// Description:     Layout variables.
// =============================================================================

$width-containter: 95%;
$width-container-max: 50em;

$spacing-base-unit: 1em;
$spacing-double-unit: 2em;
$spacing-half-unit: 0.5em;
$spacing-quater-unit: 0.25em;