// =============================================================================
// Name:            Typography
// Description:     Typography variables.
// =============================================================================

$font-size-base: 14px;
$font-size-heading: 18px;
$font-size-player-control-primary: 40px;
$font-size-player-control-secondary: $font-size-player-control-primary - 10;

$font-size-large: $font-size-base * 2;