// =============================================================================
// Name:            Box
// Description:     Boxes abstractions.
// =============================================================================

@mixin box($background: $color-white) {

}