// =============================================================================
// Name:            Ui elements
// Description:     ui abstractions.
// =============================================================================

@mixin icon-button ($icon-code, $width, $height) {
  @include vertical-align-wrapper;
  @include icon($icon-code);
  width: $width;
  text-align: center;
  cursor: pointer;
  &:before {
    @include vertical-align-element();
    height: $height;
  }
}

@mixin icon-button-square ($icon-code, $width) {
  @include icon-button ($icon-code, $width, $width);
}

@mixin overlay {
  background: rgba($color-black, 0.55);
  @include set-position-absolute(top 0 right 0 bottom 0 left 0);
}

@mixin overlay-icon($icon: av-play-arrow, $height: 100px, $font-size: 200%) {
  @include overlay;
  @include icon-button-square($icon, $height);
  display: none;
  color: $color-white;
  font-size: $font-size;
  &:before {
    padding-right: 5px;
  }
}

@mixin flat-button($color: $color-greyscale-cloudy, $icon: false) {
  display: inline-block;
  @extend %transition--all;
  background: $color;
  padding: $spacing-half-unit $spacing-base-unit;
  position: relative;
  cursor: pointer;
  margin-bottom: $spacing-half-unit;
  color: $color-white;
  .text {
    @include text-crop($color);
    display: block;
  }
  &:hover {
    color: $color-white;
  }
  @if $icon {
    padding-right: $spacing-double-unit + $spacing-half-unit;
    @include icon($icon);
    &:before {
      @include set-position-absolute(top 9px right $spacing-half-unit);
      color: rgba($color-white, 0.5);
      font-size: 110%;
      @extend %transition--all;
    }
    &:hover {
      &:before {
        color: rgba($color-white, 1);
      }
    }
  }
}